.col-xs-6
  .row.padded-sides
    .col-xs-12.section.console
      .row
        .col-xs-3
          =image_tag('track-image-default.png', class: 'turntable-track-image')
        .col-xs-9 Track Info Here
      .row
        .col-xs-12 Track time here
      .row
        .col-xs-12
          .turntable-waveform-progress
          =image_tag('', class: 'turntable-track-waveform-image')
      .row
        =image_tag('play-button.png', class: 'turntable-button turntable-play-button')
        =image_tag('pause-button.png', class: 'turntable-button turntable-pause-button')
