.row.section
  .col-lg-offset-1.col-lg-10.col-xs-12
    .row.section.console
      .col-lg-offset-1.col-lg-10.col-xs-12
        .row
          .col-xs-11
            %h4
              %span=@tracks.count
              %span Results
          .col-xs-1.text-right
            =image_tag('spin.png', class: 'spinner')
        .panel
          .panel-heading
            .row
              .col-lg-4.col-xs-3 Title
              .col-lg-4.col-xs-3 Artist
              .col-lg-1.col-xs-1 BPM
              .col-lg-1.col-xs-1 Key
              .col-lg-2.col-xs-4
          .panel-body{data: {hook: 'track-list', soundcloud_client_id: @soundcloud_client_id}}
            - @tracks.each do |track|
              .row.track
                .col-lg-4.col-xs-3=track.title
                .col-lg-4.col-xs-3=track.user.username
                .col-lg-1.col-xs-3=track.bpm
                .col-lg-1.col-xs-3=track.key_signature
                .col-lg-2.col-xs-3.text-right
                  - if track.download_url
                    =image_tag('down-arrow.png', class: 'track-button download-button', data: {download_url: track.download_url})
                  - if track.purchase_url
                    %a{href: track.purchase_url, target: '_blank', class: 'purchase-link'}
                      =image_tag('dollar-sign.png', class: 'track-button')
                  - if track.streamable
                    =image_tag('turntable-left.png', class: 'track-button turntable-loader turntable-loader-left')
                    =image_tag('turntable-right.png', class: 'track-button turntable-loader turntable-loader-right')
    .row.dj-coffin
      =render(partial: 'turntable')
      =render(partial: 'turntable')
