%div.search-container
  .search-console
    .search-header
      %h1= "Build My Crate"
    .search-fieldspace
      %form{ action: "/tracks", method: "get" }
        - if flash[:alert]
          %div.asterisk=flash[:alert]
        %fieldset
          %legend Bpm Range
          %div
            %label From: <small class="asterisk">*</small>
            %input{ type: "text", :name => :bpm_min, :required => true }
          %div
            %label To:
            %input{ type: "text", :name => :bpm_max }
        %div
          %label Key Signature:
          %select{ :name => :key_signature }
            %option
            %option Ab
            %option A
            %option A#
            %option Bb
            %option B
            %option B#
            %option Cb
            %option C
            %option C#
            %option Db
            %option D
            %option D#
            %option Eb
            %option E
            %option E#
            %option Fb
            %option F
            %option F#
            %option Gb
            %option G
            %option G#
            %option Abm
            %option Am
            %option A#m
            %option Bbm
            %option Bm
            %option B#m
            %option Cbm
            %option Cm
            %option C#m
            %option Dbm
            %option Dm
            %option D#m
            %option Ebm
            %option Em
            %option E#m
            %option Fbm
            %option Fm
            %option F#m
            %option Gbm
            %option Gm
            %option G#m
        %button Find Trax!
        %label.required-label
          %small.asterisk * required
  .search-console
    %span.search-number-of-results
      .filler
    %span.search-spinner-container
      =image_tag("spin.png", class: "spinner")
