.container-fluid
  .row.section
    .col-xs-2
    .col-xs-8
      %h1.search-header.text-center Build My Crate
      .row.section.console
        .col-xs-2
        .col-xs-8
          %form#search.form-horizontal{action: tracks_path, method: :get}
            - if flash[:alert]
              .form-group.has-error
                .col-xs-12
                  %span=flash[:alert]
            .form-group
              %fieldset.col-xs-12
                %legend BPM Range
                .form-group
                  .col-xs-2
                  %label.col-xs-2.control-label{for: :bpm_min}
                    %small.asterisk *
                    %span Min:
                  .col-xs-6
                    %input.form-control{type: :text, id: :bpm_min, name: :bpm_min, required: true}
                  .col-xs-2
                .form-group
                  .col-xs-2
                  %label.col-xs-2.control-label{for: :bpm_max} Max:
                  .col-xs-6
                    %input.form-control{type: :text, id: :bpm_max, name: :bpm_max}
                  .col-xs-2
            .form-group
              .col-xs-2
              %label.col-xs-2.control-label{for: :key_signature} Key Signature:
              .col-xs-6
                %select.form-control{id: :key_signature, name: :key_signature}
                  %option{value: ''}
                  - ('a'..'g').each do |base_note|
                    - [['b', '♭'], ['', '♮'], ['#','♯']].each do |accidental_set|
                      - ['', 'maj', 'min'].each do |key|
                        %option{value: base_note + accidental_set.first + key}
                          =(base_note + accidental_set.last).capitalize + ' ' + key
              .col-xs-2
            .row
              .col-xs-2
              .col-xs-2.control-label
                =image_tag('spin.png', class: 'spinner', alt: 'Loading Indicator')
              .col-xs-6.text-right
                %button{type: :submit} Find Trax!
              .col-xs-2
        .col-xs-2
    .col-xs-2
