.row.section
  .col-lg-offset-2.col-lg-8.col-xs-12
    %h1.search-header.text-center Build My Crate
    .row.section.console
      .col-lg-offset-2.col-lg-8.col-xs-12
        %form#search.form-horizontal{action: tracks_path, method: :get}
          - if flash[:alert]
            .form-group.has-error
              .col-xs-12
                %span=flash[:alert]
          .form-group
            %fieldset.col-xs-12
              %legend BPM Range
              .form-group
                %label.col-xs-offset-1.col-xs-3.control-label.text-right{for: :bpm_min}
                  %small.asterisk *
                  %span Min:
                %div.col-xs-7
                  %input.form-control{type: :text, id: :bpm_min, name: :bpm_min, required: true}
              .form-group
                %label.col-xs-offset-1.col-xs-3.control-label.text-right{for: :bpm_max} Max:
                %div.col-xs-7
                  %input.form-control{type: :text, id: :bpm_max, name: :bpm_max}
          .form-group
            %label.col-xs-offset-1.col-xs-3.control-label.text-right{for: :key_signature} Key Signature:
            %div.col-xs-7
              %select.form-control{id: :key_signature, name: :key_signature}
                %option{value: ''}
                - ('a'..'g').each do |base_note|
                  - [['b', '♭'], ['', '♮'], ['#','♯']].each do |accidental_set|
                    - ['', 'maj', 'min'].each do |key|
                      %option{value: base_note + accidental_set.first + key}
                        =(base_note + accidental_set.last).capitalize + ' ' + key
          .row
            .col-xs-offset-2.col-xs-2.control-label
              =image_tag('spin.png', class: 'spinner', alt: 'Loading Indicator')
            .col-xs-7.text-right
              %button{type: :submit} Find Trax!
