@import 'variables';

// Fonts

@font-face {
  font-family: 'Graffonti-3d';
  src:         font-url('fonts/graffonti/Graffonti-3d.ttf');
}
@font-face {
  font-family: 'Alegreya-Regular';
  src:         font-url('fonts/Alegreya/Alegreya-Regular.ttf');
}
@font-face {
  font-family: "Nunito-Bold";
  src: font-url("fonts/Nunito/Nunito-Bold.ttf");
}

// Element Styles

body {
  background-color: black;
  background-image: asset-data-url('mosaic.jpg');
  font-family:      'Alegreya-Regular';
  color:            $white;
}

h1 {
  font-family: 'Graffonti-3d';
  color:       $red;
  font-size:   3em;
  @media (min-width: $screen-lg-min) {
    font-size:   5em;
  }
}

fieldset {
  border:        1px solid $grey;
  border-radius: 1em;
}

legend {
  width:         auto;
  border:        none;
  margin-left:   2em;
  margin-bottom: 0em;
  color:         inherit;
  font-size:     1.1em;
}

button {
  font-size:        2em;
  background-color: $black;
  color:            $red;
  font-family:      'Graffonti-3d';
  border:           none;
  &:hover {
    color: $yellow;
  }
  &:focus {
    outline: none;
  }
}

// Bootstrap Customizations

.panel {
  background-color: inherit;
}
.panel-heading {
  color:       $red;
  font-size:   0.75em;
  font-family: 'Nunito-Bold';
  @media (orientation: landscape) {
    font-size: 1.2em;
  }
}
.panel-body {
  height:     24em;
  overflow-y: auto;
  overflow-x: auto;
}

.form-control {
  background-color: $grey;
  color:            $white;
  border:           none;
  // Restore bootstrap defaults on focus.
  &:focus {
    border:        1px solid $input-border;
    border-radius: 4px;
  }
}

// Original Styles

.section {
  padding-top:    1em;
  padding-bottom: 1em;
  @media (min-width: $screen-lg-min) {
    padding-top:    2em;
    padding-bottom: 2em;
  }
}

.padded-sides {
  padding: 0.5em;
}

.search-header {
  padding-bottom: 0.5em;
}

.console {
  background-color: $black-translucent;
  border-radius:    1em;
}

.asterisk {
  color: $red;
}

.spinner {
  max-width: 100%;
  @media (min-width: $screen-lg-min) {
    max-width: 50%;
  }
}

.track {
  margin-bottom: 1.5em;
  @media (min-width: $screen-md-min) {
    margin-bottom: 0.5em;
  }
  @media (min-width: $screen-lg-min) {
    margin-bottom: 0em;
  }
}

.track-button {
  max-width: 50%;
  padding:   0.1em;
  @media (orientation: landscape) {
    max-width: 25%;
  }
  @media (min-width: $screen-lg-min) {
    padding: 0.33em;
  }
  &:hover {
    cursor: pointer;
  }
}

.turntable-track-image {
  width: 75%;
}
.turntable-track-waveform-image {
  width:      100%;
  max-height: 6em;
  padding:    1em 0em;
}

.controls {
  img {
    width: 8%;
    &:hover {
      cursor: pointer;
    }
  }
}

// Browser-Specific Stylings

::-webkit-scrollbar {
  width: 0.66em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $white-ghost;
  border-radius:      6px;
  background-color:   $black-translucent;
}
::-webkit-scrollbar-thumb {
  border-radius:    10px;
  background-color: $burgundy;
}
::-webkit-scrollbar-thumb:active {
  background-color: $red;
}


/*
$panel-background-color: rgba(7, 7, 7, .68);
$font-red: #a4111f;
$blackish: rgba(7, 7, 7, .9);
$yellow: rgba(175, 150, 0, 1);

@font-face {
  font-family: "Nunito-Regular";
  src: font-url("fonts/Nunito/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Graffonti-Gradient";
  src: font-url("fonts/graffonti/Graffonti-Gradient.ttf");
}
@font-face {
  font-family: "Graffonti-3d";
  src: font-url("fonts/graffonti/Graffonti-3d.ttf");
}
@font-face {
  font-family: "Graffonti-Atomic";
  src: font-url("fonts/graffonti/Graffonti-Atomic.ttf");
}
body {
  background-color: rgba(7, 7, 7, .9);
  color: $white;
  font-family: "Alegreya-Regular";
}
.search-container {
  width: 1200px;
  margin: 0px auto;
  .search-console {
    position: center;
    .search-header {
      display: inline-block;
      font-family: "Nunito-Bold";
      text-align: center;
      width: 100%;
      h1 {
        font-family: "Graffonti-3d";
        color: $font-red;
        font-size: 5em;
      }
    }
    .search-fieldspace {
      width: 98%;
      margin: 0px auto;
      padding: 12px;
      background-color: $black;
      form {
        position: relative;
        width: 60%;
        margin: 0px auto;
        padding: 12px;
        background-color: $blackish;
        fieldset {
          border-color: $grey-highlight;
        }
        div {
          position: relative;
          margin: 18px;
          input, select {
            position: absolute;
            right: 0px;
            padding: 6px;
            background-color: $grey-highlight;
            border: 6px solid $black;
            color: $white;
          }
          input:focus, select:focus {
            outline: none;
            box-shadow: 0px 0px 3px 0px $white;
          }
          label {
            background-color: $black;
            padding: 6px;
            border-radius: 50px;
          }
        }
        .asterisk {
          color: $font-red;
        }
        .required-label {
          position: absolute;
          bottom: 1em;
          right: 1em;
        }
        button {
          width: 50%;
          min-height: 30px;
          padding: 1%;
          border-radius: 50px;
          border: 12px solid $black;
          background-color: $blackish;
          color: $font-red;
          font-family: "Graffonti-3d";
          font-size: 2em;
        }
        button:hover {
          color: $yellow;
        }
        button:focus {
          outline: none;
        }
      }
    }
    .search-number-of-results {
      display: inline-block;
      padding: 12px;
      .filler {
        min-height: 60px;
      }
    }
    .search-spinner-container {
      display: inline-block;
      float: right;
      margin: 10px;
      .spinner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}

table {
  width: 100%;
  background-color: rgba(5, 5, 5, .9);
  border-spacing: 0px;
}
thead {
  display: inline-block;
  width: 100%;
  tr {
    display: inline-block;
    width: 100%;
  }
}
tbody {
  display: block;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
th {
  font-family: "Nunito-Bold";
  color: $font-red;
}
.search-column-title, .search-column-artist {
  width: 30%;
}
.search-result-row:nth-child(even) {
  background-color: $black;
}
.search-result-row:hover {
  background-color: $grey-highlight;
}
td {
  padding: 6px;
}
.search-column-buttons {
  text-align: right;
  a {
    text-decoration: none;
  }
}
.search-result-buttons {
  width: 30px;
  height: 30px;
  margin: 0px 3px;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.7);
    border-radius: 6px;
    background-color: rgba(10, 10, 10, .2);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(200, 30, 30, .6);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(200, 50, 50, .1);
}

.dj-coffin {
  text-align: center;
  height: 250px;
  background-position: center;
  .dj-coffin-separator {
    width: 100%;
    height: 5%;
  }
  .turntable {
    display: inline-block;
    position: relative;
    height: 90%;
    width: 40%;
    text-align: left;
    background-color: $panel-background-color;
    span {
      display: inline-block;
    }
    .turntable-top-panel {
      height: 35%;
      .turntable-track-image {
        width: 15%;
        float: left;
        margin: 8px;
      }
      .turntable-track-info {
        width: 80%;
        height: 100%;
        position: relative;
        .turntable-track-info-upper {
          height: 45%;
          width: 100%;
          overflow: hidden;
          .turntable-track-title {
            max-width: 75%;
          }
        }
        .turntable-track-info-lower {
          width: 100%;
          height: 45%;
          position: absolute;
          bottom: 0px;
        }
        .turntable-track-bpm, .turntable-track-key {
          position: absolute;
          right: 0px;
        }
      }
    }
    .turntable-bottom-panel {
      height: 60%;
      width: 98%;
      margin: 0px 1% 0px 1%;
      position: absolute;
      bottom: 0px;
      .turntable-time-wave-container {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 40%;
        .time-elapsed {
          width: 100%;
          position: relative;
          text-align: right;
          small {
            margin: 2px;
          }
        }
        .turntable-waveform-interface {
          position: absolute;
          min-width: 100%;
          max-width: 100%;
          min-height: 75%;
          max-height: 75%;
          .turntable-waveform-progress, .turntable-track-waveform-image {
            height: 100%;
            max-height: 100%;
            position: absolute;
          }
          .turntable-waveform-progress {
            width: 0%;
            background-color: rgba(200, 50, 50, .3);
          }
          .turntable-track-waveform-image {
            width: 100%;
          }
        }
      }
      .turntable-controls {
        position: absolute;
        bottom: 0px;
        img {
          width: 50px;
        }
      }
    }
  }
  .turntable-left {
    float: left;
    margin: 0px 0px 0px 8px;
  }
  .mixer {
    display: inline-block;
    height: 90%;
    width: 15%;
    background-color: $panel-background-color;
  }
  .turntable-right {
    float: right;
    margin: 0px 8px 0px 0px;
  }
}

*/
