$white:             rgba(230, 230, 230, .8);
$red:               #a4111f;
$grey:              rgba(40, 40, 40, 1);
$black:             rgba(2, 2, 2, 1);
$black-translucent: rgba(2, 2, 2, .6);
$red:               #a4111f;
$yellow:            rgba(175, 150, 0, 1);
